*,::before, ::after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

#user-data {
    max-width: 400px;
    margin:100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-data input[type="text"],
#user-data input[type="number"]
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#user-data label {
    display: block;
    margin-bottom: 10px;
}

#user-data button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#user-data button[type="submit"]:hover {
    background-color: #007bff;
}


/* header */
header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #000;
}

.summary {
    flex: 1;
}

.header-content {
    display: flex;
    align-items: center;
}

.inner-content {
    margin-right: 20px; 
}

.avatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}


/* Main Content Styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 140px;
    height: 120px;
    background-color: #f8f6f6;
    margin: 0 5px;
    padding: 5px;
    border-radius: 8px;
}

.inner-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card-emoji {
    background-color: #333;
    border-radius: 50%;
}

.total, .list-name {
    font-size: 0.875rem;
    color: #d3d3d3;
}

.card-value {
    font-size: 1.875rem;
}

.unit-value {
    font-size: 1rem;
}

.list-name {
    list-style-type: none;
}

.calories-section {
    display: flex;
    justify-content: space-around;
}

.progress-container {
    position: relative;
    width: 160px;
    height: 160px;
  }
 
.progress-outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.progress-inner {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0,5px 0px rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);    
}


#num-of-cal {
    font-weight: 600;
    color: #555;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim{
    100% {
        stroke-dashoffset: 165;
    }
}
i{
    position: relative;
}

.hidden {
    display: none;
}


.form-modal, .modal {
    position: fixed;
    width: 50%;
    max-width: 500px;
    height: auto;
    top: 20%;
    left: 25%;
    margin: auto;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 5px 255px 0px #00000080;
    
  }

  .bmi-data {
    align-items: center;
    /* text-align: center; */
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;

  }
  .close-modal-btn-container {
    text-align: right;
    margin: 9px;
  }
  
  .modal-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:active {
    color: red;
    cursor: pointer;
    background: transparent;
  }