*,::before, ::after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* =================
    Typography 
   ================= */

.userdata-container h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #007bff;
}

.userdata-container h2 {
    font-size: 2.25rem;
    margin: 0.167em 0;
}

.userdata-container > p{
    font-size: 1.125rem;
    line-height: 1.35;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;  
    margin-bottom: 0.5em;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -1;
    margin: 0 auto;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column; 
    padding-left: 2em;
    padding-right: 2em;   
}

.userdata-container {
    display: flex;
    width: 100%;
}
/* =================
    Intro
   ================= */

.intro { 
    justify-content: space-between;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background: #007bff url("https://images.pexels.com/photos/703016/pexels-photo-703016.jpeg");
    background-size: cover;
    padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    padding-top: 2.5em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

.main-content p,
form {
    max-width: 450px;
}

/* =================
    Form
   ================= */

input,
button {
    font-family: inherit;
    width: 100%; 
    border-radius: 5px;   
}


input {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 2px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #e6e8ec;
}

.controls{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.controls label {
    display: flex;
    align-items: center;
}
.controls input[type="radio"] {
    margin-top: 9px;
    margin-right: 3px;
}

.btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1em 0;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #007bff;
    margin-top: 1em;    
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #007bff;
}


/* header */

.summary > p{
    font-size: 1.2rem;
    line-height: 0;
    margin-top: 10px;
}
.summary > h2 {
    font-size: 1.8rem;
    font-weight: 600;
} 

.header-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* margin: 0 150px; */
    margin: auto;
    width: 70%;
}


.inner-content {
    display: flex;
    gap: 5px;
    align-items: center;
}

.avatar {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    object-fit: cover; 
    cursor: pointer;
}


/* Main Content Styling */
.main-container {
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    width: 70%;
    /* max-width: 800px; */
    height: auto;
    margin: 10px 0;
    margin-top: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #333;
    font-size: 1.8rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 140px;
    height: 120px;
    background-color: #f8f6f6;
    margin: 0 5px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.inner-card-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.card-emoji {
    background-color: #fff;
    border-radius: 50%;
}

.total, .list-name {
    font-size: 0.875rem;
    color: #d3d3d3;
}

.card-value {
    font-size: 1.875rem;
}

.unit-value {
    font-size: 1rem;
}

.list-name {
    list-style-type: none;
}

.calories-section {
    display: flex;
    justify-content: space-around;
}
.progress-bar-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 65px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #007bff;
    width: 0;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.progress-text {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}



.hidden {
    display: none;
}


.form-modal, .modal {
    position: fixed;
    width: 50%;
    max-width: 400px;
    height: auto;
    top: 35%;
    left: 30%;
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    box-shadow: 5px 5px 255px 0px #00000080;
    
  }

  .form-modal {
    padding: 20px;
    text-align: center;
  }

  .bmi-btn {
    width: 60%;
    margin: 10px;
    background-color: #8cd0fd;
    border: none;
    padding: 8px;
  }

  .bmi-result {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: #ecfdf5;
    text-align: center;
    margin: 10px auto;
    padding: 25px 10px;
    border-radius: 8px;
  }

  .bmi-info {
    font-size: 1rem;
    font-weight: 600;
  }

  #user-details {
    width: 70%;
    text-align: center;
    margin: 20px auto;

}

#user-details p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 8px;
    background-color: whitesmoke;
    text-transform: capitalize;

}

#user-details strong {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}

  
  .step-modal {
    max-width: 250px;
  }
 
  .close-modal-btn-container {
    text-align: right;
    padding-right: 10px;
  }
  
  .modal-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
    width: 0;
  }
  
  .modal-close-btn:hover,
  .modal-close-btn:active {
    color: red;
    cursor: pointer;
    background: transparent;
  }

.timer-container {
    display: flex;
    justify-content: space-between;
}
  
.timer-display {
    font-size: 2rem;
    text-align: center;
}

#timer-form {
    width: 50%;
    text-align: center;
}

#start-timer,
#pause-timer,
#resume-timer,
#stop-timer {
    padding: 5px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timer-controls {
    display: flex;
    gap: 10px;
}
.timer-controls {
    display: flex;
    gap: 10px;
}
#timer-form button:hover {
    background-color: #0056b3;
}

/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    body {
        display: flex;
    }
    
    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 2.625rem;
    }

    .username {
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .beta-text {
        font-size: 1.25rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
    }
    
    .intro {
        min-height: 100vh;
    }
    
    .main-content {
        justify-content: center;
        padding-top: 0;
    }
}

@media (max-width: 478px) {
    .intro {
        padding: 1em;
        min-height: 200px;
    }

    .main-content {
        padding: 1em;
    }

    .img-main {
        width: 100px;
    }

    .userdata-container h1 {
        font-size: 1.75rem;
    }

    .userdata-container h2 {
        font-size: 1.5rem;
    }

    .intro,
    .main-content {
        padding-left: 1em;
        padding-right: 1em;
    }

    input, button {
        width: 100%;
        font-size: 0.875rem;
    }

    .controls {
        flex-direction: column;
        align-items: center;
    }

    .controls label {
        margin-bottom: 0.5em;
    }

    .btn {
        padding: 0.75em 0;
    }

    section {
        padding: 10px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 10px;
    }

    .calories-section {
        flex-direction: column;
        align-items: center;
    }

    .progress-container {
        width: 120px;
        height: 120px;
    }

    .progress-outer {
        width: 120px;
        height: 120px;
    }

    .progress-inner {
        width: 80px;
        height: 80px;
    }

    #num-of-cal {
        font-size: 0.75rem;
    }
}
